<h1>Lista de Directores Mexicanos.</h1>
<%= link_to 'Crear perfil de un nuevo director.', new_director_path %>
<br/>
<div id="linea">
<br />
	
</div>
<br/>
<br/>



<% @directores.each do |director| %>
<table id="tabla">
  <tr>
    <th>Nombre: </th> <td><%= director.nombre %></td>
    <th>Lugar de nacimiento: </th> <td><%= director.lugar %></td>
    <th>Fecha de nacimiento: </th> <td><%= director.fecha %></td>  
 </tr>
</table> 

<table id="tabla2">
  <tr>
	<th>Biografía: </th><td><%= director.bio %></td>	
  </tr> 
</table> 

  	<br />


    <table id="table3">
  <tr>	
    <td><%= link_to 'Ver más |', director %></td>
    <td><%= link_to 'Editar |', edit_director_path(director) %></td>
    <td><%= link_to 'Eliminar', director, confirm: 'Seguro que quieres eliminar a este director?', method: :delete %></td>
	</table>
	
  </tr>

<br />

<div id="linea">
	<br />
	
</div>	
<br />
<br />

<% end %>


<br />


